/* label focus color */
.input-field input:focus + label {
  color: rgb(69, 20, 206) !important;
}

@media only screen and (max-width: 992px) {
  .parallax img {
    max-height: 130%; /* or a little bit higher */
  }
}

@media only screen and (min-width: 993px) {
  .parallax img {
    max-height: 200%; /* or higher percentages. It's up to your taste */
  }
}

/* Contact card header */
.card-header {
  padding: 5px 10px 15px 15px;
  color: white;
}

h5,
h3 {
  width: -webkit-fill-available;
}
