@media only screen and (max-width: 992px) {
  .parallax img {
    max-height: 130%; /* or a little bit higher */
  }
}

@media only screen and (min-width: 993px) {
  .parallax img {
    max-height: 200%; /* or higher percentages. It's up to your taste */
  }
}

/* Contact card header */
.card-header {
  padding: 5px 10px 15px 15px;
  color: white;
}

.button {
  margin: auto;
  width: 100px;
  text-align: center;
}

.home-button {
  margin: auto;
  width: 200px;
  height: 60px;
  text-align: center;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  background-color: white;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 3px 3px 0 3px;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

#inner1 {
  float: left;
}

#inner2 {
  float: left;
  clear: left;
}
